/test_data
*log*.txt
/*.xlsx
/*.csv
.Rproj.user
inst/doc
test_script.R
docs
/doc/
/Meta/
.env
.devcontainer/devcontainer.json
.devcontainer
/test/
.Renviron
app.log
/*app.log
*.Rproj
*.Rhistory
*.Rproj
/seatrackRtools_logs/
/seatrackRtools_app/
/requested_data_packages/
data_requests.R
inst/shiny/web_metadata_app/data/
